.comment-card-container{
    height: 50px;
    width: 100%;
    display: flex;
    gap:10px;
    align-items: center;
    .image-container{
        height: 50px;
        width: 50px;
        padding: 5px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 50%;
        }
    }
    .postedBy-name{
        font-weight: bold;
        font-size: 14px;
        text-decoration: underline;
    }
    .comment-content{
        font-size: 14px;
        text-transform: capitalize;
    }
}