.navbar {
    background-color: white !important;
    border-bottom: 2px solid var(--blue);
    align-items: center;

    .navbar-brand,
    .nav-link {
        color: var(--blue) !important;
        font-size: 24px;
    }

    .nav-link {
        gap: 30px;

    }

    font-size: 20px;

    .active {
        background-color: var(--blue);
        color: white !important;
        border-radius: 30px;

    }
}